---
apiVersion: xl-deploy/v1
kind: Infrastructure
spec:
  - name: {{container.id}}/calculator-mysql
    type: sql.MySqlClient
    username: //database_username//
    password: //database_password//
    mySqlHome: /usr
    databaseName: //database_name//
